#aa_top{padding:20px 20px 5px 20px; background: #fff;}
#aa_top .left{ float: left; width: 650px; }
#aa_top .right{float:right; width: 200px; text-align: left }

#banner_pics{}
#banner_pics_title{ display: none}

#aa_home_nav{ height: 30px; width: 100%; background: #F7F7F7; margin: 10px 0}
#aa_home_nav a:link,#aa_home_nav a:visited{display: block; float: left; line-height: 30px; padding: 0px 20px; text-decoration: none; color: #444}
#aa_home_nav a:hover{text-decoration:underline; color: #333;background: #eee}
#aa_home_nav a.cur{color: #333;background: #E3EEF8}

#aa_home_left{width: 650px; float: left;padding:0px 10px 50px 20px}
#aa_home_right{ width: 250px; float: right;padding-bottom: 100px }
#aa_home_right .column_tt{color: #1F9800; font-size: 14px; font-weight: bold;margin:10px 0}

.aa_home_title{position: relative;height:50px;line-height:50px}
.aa_home_title .title_name{ color: #1F9800; font-size: 16px; font-weight: bold}
.aa_home_title .more_link{ position: absolute; right:0px;color:#999}
.aa_home_title .more_link a{color:#666}

.con_list{ padding: 0;margin: 0}
.con_list li{height:26px; color: #999; border-bottom: 1px dotted #eee; line-height: 26px; background-image: none }
.con_list li:hover{background: #f7f7f7}
.con_list li .date{ padding-right: 4px; color: #666}

.main_content{padding:10px 15px 50px 15px}
.ubox{ float: left; text-align: center; margin: 0 10px 5px 0;color: #999}
.aa_block{}
.aa_block ul{}

.center{ text-align: center}
.aa_table th{border-bottom: 1px solid #eee; height: 30px; background: #f8f8f8;padding: 0px 3px}
.aa_table td{border-bottom: 1px solid #eee; height: 30px}
.aa_table .cat{color: #999}
.aa_table .cat a:link,.aa_table .cat a:visited{color: #999}
.aa_table a:link,.aa_table a:visited{font-size: 12px}

.unit_table th{border-bottom: 1px solid #eee; height: 30px; background: #f8f8f8;padding: 0px 3px}
.unit_table td{border-bottom: 1px solid #eee; height: 30px}

.event_table th{border-bottom: 1px solid #eee; height: 30px; background: #f8f8f8;padding: 0px 3px}
.event_table td{border-bottom: 1px solid #eee; height: 30px;padding:10px 0}
.event_table .title:link,.event_table .title:visited{font-size:12px; font-weight: bold}

.photo_list{}
.pbox{ float: left;text-align: center; padding: 2px; border: 1px solid #f8f8f8; margin:0 15px 10px 0}